* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100%;
  border: 0.1vw solid black;
  overflow: hidden;
}

/* ====================== Navbar.js ================ */

.navbar {
  background-color: black;
  color: white;
  padding: 1vw 4vw;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.navbar i {
  padding: 0 2vw;
}

.navbar .hrefOptions span a {
  margin: 0 2vw;
  font-size: 1.3vw;
  text-decoration: none;
  color: white;
}

.navbar .hrefOptions span a:hover {
  color: rgb(202, 202, 202);
}







/* ====================== UserItem.js ================ */
.card {
  padding: 1vw;
  text-align: center;
}
.avatarConatiner {
  height: 100%;
}
.card .avatarImg {
  width: 50%;
  border-radius: 50%;
}

.moreBtnWrapper {
  margin: 2vw 2vw 1vw 2vw;
}

.moreBtn {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 0.5vw 1.5vw;
  border-radius: 1vw;
  font-size: 1vw;
}

.moreBtn:hover {
  background-color: rgb(39, 39, 39);
}

/* ====================== Users.js ================ */

.userContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3vw 5vw;
  grid-gap: 3vw;
}

/* ====================== Search.js ================ */
.searchContainer {
  position: sticky;
  top: 0px;
  padding: 1vw 5vw 1vw 5vw;
  display: grid;
  grid-template-columns: 6fr 0.5fr;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.search {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10vw;
}

.search input[type="text"] {
  padding: 1vw;
  font-size: 1.5vw;
  border: 0.1vw solid rgb(61, 61, 61);
}

input:focus {
  outline: none;
  background-color: rgb(252, 250, 250);
}

.search input[type="submit"] {
  font-size: 1.5vw;
  border: 0.2vw solid black;
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.clearPage {
  margin: auto;
}

.clearPage i {
  font-size: 1.9vw;
  background-color: black;
  color: white;
  padding: 1vw;
  border: 0.2vw solid black;
}

.clearPage i:hover {
  color: black;
  background-color: white;
}

/* ====================== Alert.js ================ */

.alert {
  width: 80%;
  padding: 5vw 0;
  margin: auto;
}

.alertMsg{
  text-align: center;
  font-size: 3vw;
}

.alertMsg i {
  color: red;
}

/* ====================== About.js ================ */

.aboutContainer {
  padding: 3vw 5vw;
}

/* ====================== RESPONSIVENESS ================ */

@media (max-width: 769px) {
  .userContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .userDetails h3 {
    font-size: 2vw;
  }
  .moreBtn {
    font-size: 1.8vw;
  }
}

@media (max-width: 650px) {
  .search input[type="text"] {
    font-size: 2.5vw;
  }
  .search input[type="submit"] {
    font-size: 2.5vw;
  }
  .navbar {
    font-size: 4vw;
  }
}

@media (max-width: 426px) {
  .userContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .userDetails h3 {
    font-size: 3vw;
  }
  .moreBtn {
    font-size: 2.5vw;
  }
}

@media (max-width: 376px) {
  .userContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .userDetails h3 {
    font-size: 4vw;
  }
  .moreBtn {
    font-size: 3vw;
  }
}
